services:

    n8n:
        depends_on:
            certbot:
                condition: service_healthy
        image: 'n8nio/n8n:${N8N_IMAGE_VERSION}'
        container_name: n8n
        networks:
            - backend
        volumes:
            - 'dtn8n:/home/node/.n8n'
            - './n8n/local-files:/files'
            - 'certbot-etc:${LETSENCRYPT_CONF_PREFIX}'
        hostname: n8n
        restart: unless-stopped
        ports:
            - '5678:5678'
        environment:
            N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
            N8N_HOST: '${SUBDOMAIN}.${DOMAIN_NAME}'
            N8N_PORT: 5678
            N8N_PROTOCOL: 'https'
            N8N_RUNNERS_ENABLED: true
            NODE_ENV: 'production'
            WEBHOOK_URL: 'https://${SUBDOMAIN}.${DOMAIN_NAME}/'
            GENERIC_TIMEZONE: '${LOCAL_TIMEZONE}'
            TZ: '${LOCAL_TIMEZONE}'

    certbot:
        depends_on:
            - proxy
        image: certbot/certbot:latest
        container_name: certbot
        networks:
            - backend
        volumes:
            - 'certbot-etc:${LETSENCRYPT_CONF_PREFIX}'
            - 'certbot-var:/var/lib/letsencrypt'
            - '/tmp/acme-challenge:/tmp/acme-challenge'
        restart: unless-stopped
        healthcheck:
            test: ["CMD-SHELL", "test -d ${LETSENCRYPT_CONF_PREFIX}/live/${DOMAIN_NAME} || exit 1"]
            interval: 5s
            timeout: 5s
            retries: 20
        environment:
            TZ: '${LOCAL_TIMEZONE}'
        entrypoint: /bin/sh -c "${SSL_SNIPPET}; trap exit TERM; while :; do certbot renew --dry-run; sleep 12h & wait $${!}; done;"

    proxy:
        image: nginx:stable
        container_name: proxy
        networks:
            - backend
            - frontend
        volumes:
            - type: bind
              source: ./proxy/nginx.conf
              target: '${PROXY_PREFIX}/nginx.conf'
            - type: bind
              source: ./proxy/templates/proxy.conf.template
              target: '${PROXY_PREFIX}/templates/default.conf.template'
            - type: bind
              source: ./proxy/ssl-option/options-ssl-nginx.conf
              target: '${LETSENCRYPT_CONF_PREFIX}/options-ssl-nginx.conf'
            - type: bind
              source: ./ssl-proxyconf.sh
              target: '/tmp/ssl-proxyconf.sh'
            - 'certbot-etc:${LETSENCRYPT_CONF_PREFIX}'
            - '/tmp/acme-challenge:/tmp/acme-challenge'
        hostname: proxy
        restart: unless-stopped
        ports:
            - '80:80'
            - '443:443'
        environment:
            NGINX_HOST: ${DOMAIN_NAME}
            SUBDOMAIN: ${SUBDOMAIN}
            NGINX_PORT: 80
            TZ: '${LOCAL_TIMEZONE}'
        command: bash -c "/docker-entrypoint.sh nginx -v; sh /tmp/ssl-proxyconf.sh '${DOMAIN_NAME}' '${LETSENCRYPT_CONF_PREFIX}' '${PROXY_PREFIX}'"

networks:
    backend: null
    frontend: null

volumes:
    dtn8n:
        name: n8n-data
    certbot-etc:
        external: true
    certbot-var:
        name: certbot-var
