PROXY_PREFIX=/etc/nginx
LOCAL_TIMEZONE=local_timezone
DOMAIN_NAME=example.com
DIRECTORY_PATH=directory_path

LETSENCRYPT_EMAIL=email@domain.com
LETSENCRYPT_CONF_PREFIX=/etc/letsencrypt
SSL_SNIPPET=ssl_snippet

N8N_SUBDOMAIN=n8n_subdomain
N8N_IMAGE_VERSION=stable

WEBUI_SUBDOMAIN=webui_subdomain
WEBUI_API_KEY=N{G<z4q(oJQO}BPd
WEBUI_SECRET_KEY=t0p-s3cr3t

PIPELINES_API_KEY=0p3n-w3bu!

DB_USER=db_username
DB_PASSWORD=db_password
DB_NAME=db_name

POSTGRESQL_CONF_PREFIX=/var/lib/postgresql/data/
DATABASE_IMAGE_NAME=postgres
DATABASE_VERSION=latest

PGA_CONTROLPASS=pga_password
PGA_CONF_FOLDER=/etc/pgadmin

REDIS_CONF_PREFIX=/usr/local/etc

WHATSAPP_SUBDOMAIN=whatsapp_subdomain
WHATSAPP_API_KEY=lq9C7ZXVwH%;/gEw
WHATSAPP_DASHBOARD_ENABLED=true
WHATSAPP_DASHBOARD_USERNAME=db_username
WHATSAPP_DASHBOARD_PASSWORD=db_password
WHATSAPP_LOG_FORMAT=PRETTY
WHATSAPP_LOG_LEVEL=info
WHATSAPP_MEDIA_STORAGE=LOCAL
WHATSAPP_PRINT_QR=false
WHATSAPP_DEFAULT_ENGINE=NOWEB
WHATSAPP_DOWNLOAD_MEDIA=true
#WHATSAPP_FILES_FOLDER=(Multiline environment variable, edit in normal view)
WHATSAPP_FILES_LIFETIME=0
#WHATSAPP_FILES_MIMETYPES=audio,image/png,image/gif
WHATSAPP_SWAGGER_CONFIG_ADVANCED=true
WHATSAPP_SWAGGER_USERNAME=db_username
WHATSAPP_SWAGGER_PASSWORD=db_password
